:root {
    --smPadding: 10px;
    --medPadding: 25px;
    --lgPadding: 50px;

    --lightColor: #f3f3f3;
    --darkColor: #222;
    --accentColor1: orange;
    --accentColor2: lightblue;
    --accentColor3: grey;

    --fontLight: white;
    --fontDark: black;

    --roundBorder: 10px;
    --circleBorder: 50%;

    --shadowBox1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

html,
body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
}

#leftContainer,
#rightContainer {
    padding: var(--smPadding);
}

#leftContainer {
    height: 100%;
    width: 100%;
    border-right: 3px solid var(--accentColor1);
    border-radius: var(--roundBorder);
    color: var(--fontLight);
    position: relative;
    padding: 0px;
}

#background {
    height: 100%;
    width: 100%;
    background-image: url("../data/img/mountain2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#rightContainer {
    display: flex;
    align-items: center;
    padding: var(--lgPadding);
    width: 75%;
    background-color: var(--lightColor);
}

#rightContainer>#rightBox>h2,
#rightContainer>#rightBox>h4 {
    text-align: center;
}

#rightBox {
    background-color: var(--accentColor2);
    border-radius: var(--roundBorder);
    padding: var(--lgPadding);
    color: var(--fontDark);
    box-shadow: var(--shadowBox1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftBox {
    position: absolute;
    display: inline-flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: var(--smPadding);
    width: calc(100% - (2 * var(--smPadding)));
    top: 3rem;
    background-color: rgba(2, 2, 2, 0.8);
    color: var(--lightColor);
}

#rightBox > form {
    max-width: fit-content;
    background-color: var(--accentColor3);
    padding: var(--medPadding);
    box-shadow: var(--shadowBox1);
    border-radius: var(--roundBorder);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputs {
    display: flex;
    flex-direction: row;
    gap: var(--smPadding);
}
.inputs {
    align-items: center;
    padding: var(--smPadding);
    display: flex;
    flex-direction: column;
}

#leftBox>h2 {
    text-align: center;
}

#buttons {
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merienda', cursive;
}

h2 {
    font-size: clamp(1.2rem, -0.875rem + 3vw, 2.2rem);
}

h4 {
    font-size: clamp(1rem, -0.875rem + 2vw, 2rem);
}

#logo {
    width: clamp(2rem, 0.875rem + 2vw, 2.5rem);
    height: auto;
    padding: var(--smPadding);
    
}

.fadeIn {
    animation: fadeInAnimation 1.5s linear forwards;
}

.fadeOut {
    animation: fadeOutAnimation 1.5s linear forwards;
}


@keyframes fadeBlackAnimation {
    100% {
        color: var(--fontColorLight);
        background-color: var(--fontColorDark);
    }
}

@keyframes bounceAnimation {
    100% {
        margin-top: var(--paddingSm);
    }
}

@keyframes fadeInAnimation {
    0% {
        filter: blur(2px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1.0;
    }
}

@keyframes fadeOutAnimation {
    0% {
        filter: blur(0px);
        opacity: 1.0;
    }

    100% {
        filter: blur(2px);
        opacity: 0;
        ;
    }
}